<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADA Project Solarity</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" >
    <link href="static/css/styles.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
		<link href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<link href="static/css/leaflet_awesome_markers.css" rel="stylesheet">
  	<link href="static/css/ranger.css" rel="stylesheet"/>
  	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="index" class="pull-left visible-sm visible-md visible-lg">
            <div id="logo-img"></div>
          </a>

          <div class="navbar-brand">
            <a href="index"><h1><span>ADA</span> Project Solarity</h1></a>
          </div>

          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        </div>

        <a href="http://www.epfl.ch" class="pull-right visible-md visible-lg">
            <div id="logo-epfl"></div>
        </a>

        <a href="http://ada.epfl.ch" class="pull-right visible-md visible-lg">
          <div id="logo-ada"></div>
        </a>
        
      </div><!-- .container -->
      <div id="header-line"></div>
    </nav><!-- #header-nav -->
  </header>

  <div id="main-content" class="container">
    <form class="form-signin" method="post" role="form">
      <div class="jumbotron">
        <div class="input-group input-group-lg" id="address-div">
          <span class="input-group-addon" id="basic-addon1">Enter an address</span>
          <input type="text" id="address-text" class="form-control" placeholder="Route Cantonale, 1015 Lausanne" aria-describedby="basic-addon1" autofocus id="address-input" name="address">
          <span class="input-group-btn">
          	<button class="btn btn-lg btn-primary btn-block" type="button" id="address-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>	
          </span>
        </div>
        <div id="jumbo-img"></div>
      </div>


      <div id="params" class="row">
        <h2>Fine-tune your information</h2>
        <br>
        <div class="col-sm-6 col-xs-12">
          <div id="bill-div">
            <div>What's your average monthly electric bill?</div>
            <!-- <input type="text" class="form-control" placeholder="20 CHF" aria-describedby="basic-addon1" autofocus id="bill-input" name="bill"> -->
            
            <span>0 CHF
            <input type="range" max="100" value="0" class="focused" id="bill-input" name="bill" onchange="updateBillVal(this.value);">
            100 CHF</span>
           <output name="billOut" id="bill-out"></output>



          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div id="roof-div">
            <div>What's your roof area?</div>
            <!-- <input type="text" class="form-control" placeholder="40 m^2" aria-describedby="basic-addon1" autofocus id="roof-input" name="roof"> -->
            <span>0 m<sup>2</sup>
            <input type="range" max="100" value="0" class="focused" id="roof-input" name="roof" onchange="updateRoofVal(this.value);">
            100 m<sup>2</sup></span>
            <output name="roofOut" id="roof-out"></output>
            <!-- <div class="input-group input-group-lg" id="roof-div-input">
              <input type="text" class="form-control" placeholder="100" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">m2</span>
            </div> -->
          </div>
        </div>     

      </div>
    </form>

    <div id="ready-div">
    	<button class="button" id="ready-but"><span>Ready </span></button>	
    </div>


    <div id="output" style="display: none;">
      <div id="chartdiv"></div>
    </div>

  </div><!-- End of #main-content -->

  <footer>
    <div class="splitter"></div>
    <ul>
      <li>
        <div class="icon" data-icon="E"></div>
        <div class="text">
          <h4>About</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="a"></div>
        <div class="text">
          <h4>Archive</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="s"></div>
        <div class="text">
          <h4>Cloud</h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique justo eu sollicitudin pretium. Nam scelerisque arcu at dui porttitor, non viverra sapien pretium. Nunc nec dignissim nunc. Sed eget est purus. Sed convallis, metus in dictum feugiat, odio orci rhoncus metus. <a href="#">Read more</a></div>
        </div>
      </li>
    </ul>
    <div class="bar">
      <div class="bar-wrap">
        <ul class="links"> <!-- footer menu -->
          <li><a href="#">Home</a></li>
          <li><a href="#">License</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <div class="social">
          <a href="#" class="fb">
            <span data-icon="f" class="icon"></span>
            <span class="info">
              <span class="follow">Become a fan Facebook</span>
              <span class="num">9,999</span>
            </span>
          </a>
          <a href="#" class="tw">
            <span data-icon="T" class="icon"></span>
            <span class="info">
              <span class="follow">Follow us Twitter</span>
              <span class="num">9,999</span>
            </span>
          </a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy;  2017 All Rights Reserved</div>
      </div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="static/js/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
	
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<script src="static/js/leaflet_awesome_markers.js"></script>

	<script src="static/js/ranger.js" async></script>

  <script src="static/js/script.js"></script>
  <script src="static/js/python-script.js"></script>

  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
</body>
</html>
